h1 { 
    margin-left: 41%;
}

#color-palette {
    height: 75px;
    width: 223px;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 40%;
}

.color {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 5px;
    margin-left: -2px;
}

#pixel-board {
    height: 230px;
    width: 223px;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 40%;
}

.pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
    margin-right: -5px;
    margin-bottom: -6px;
    background-color: white;
}

#clear-board {
    margin-left: 47%;
}
